.Header .Name {
	font-size: 6em;
	font-weight: 50;
	color: #8B6E4A;
}

.Header .Name:hover {
	cursor: pointer;
}
.Header .Description {
	margin-top: 4em;
	margin-bottom: 2em;
	font-size: 1.25em;
	font-weight: 500;
	color: #2E2419;
}